

.where-box img {
    min-height: 367px;
    max-height: 367px;
    object-fit: cover;
}
.image-section img {
    max-height: 471px;
    min-height: 420px;
    max-width: 595px;
    min-width: 594px;
    object-fit: cover;
}
.detail-blog-container {
    display: flex;
    justify-content: space-between;
    grid-gap: 15px;
}
.blog-left-container{
    flex:0 0 70%;
}
.blog-right-container{
    flex: 0 0 30%;
}
.post-cards h5 a:hover {
    color: rgb(var(--color-lightbrown));
}
.post-cards h5 a {
    color: rgb(var(--color-brown));
}
.link p a {
    color: rgb(var(--color-brown));
    word-break: break-word;
}
.blog-left-content h3 {
    word-break: break-word;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset,40%) !important;
}
.blog-section {
    display: grid !important;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
}
@media(max-width:992px){
    .detail-blog-container {
        display: block;
    }
    .home_page_interest_callout img {
        max-height: 342px !important;
        min-height: 340px !important;
        min-width: 100% !important;
    }
    .posts {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        grid-gap: 10px;
    }
    .post-cards {
        flex: 0 0 calc(100% / 2 - 5px);
        max-width: calc(100% / 2 - 5px);
    }
}
@media(max-width:768px){
    .detail-blog-container {
        display: block;
    }
    .posts {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        grid-gap: 10px;
    }
    .post-cards {
        flex: 0 0 calc(100% / 2 - 5px);
        max-width: calc(100% / 2 - 5px);
    }
}








/** ADD YOUR AWESOME CODES HERE **/